body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

.w3-bar {font-family: "Montserrat", sans-serif;}
.fa-anchor,.fa-coffee {font-size:200px;}

a {
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.copyright
{

  color: #ff5246;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}

a:hover, a:active, a:focus {
  color: #000;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.container {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
}
.nav a {
  padding: 5px 10px;
  color: #fff;
}


#header {
  background: #4d4d4d;
}

#header h1, #header h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#header h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1.5;
  font-weight: 300;
}

#header h2 {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}


.heading {
  margin-bottom: 5em;
}
.heading.heading-sm {
  margin-bottom: 2em;
}
.heading h2 {
  font-size: 50px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
  position: relative;
}

.heading p {
  font-size: 20px;
  line-height: 1.5;
  color: gray;
}


.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}


.btn-primary {
  background: #ff5246;
  color: #fff;
  border: 2px solid #ff5246 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background:#0adec0 !important;
  border-color: #0adec0 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #ff5246;
  border: 2px solid #ff5246;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #ff5246;
  color: #fff;
}




.card-item {
  
   
display: block;
  width: 100%;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
 
}
.card-item figure {
   height: 240px;
  overflow: hidden;
  z-index: 12;
}

.card-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.card-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.card-item .text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}
.card-item .text h2, .card-item .text span {
  text-decoration: none !important;
}
.card-item .text h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: #ff5246;
}
.card-item .text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.card-item .text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.card-item .text span.btn {
  color: #fff !important;
  opacity: 1;
  visibility: visible;
  bottom: 0;

  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.card-item:hover, .card-item:focus {
  bottom: 7px;
  text-decoration: none;
-webkit-box-shadow: 0px 0px 10px 0px rgba(255,82,70,0.55);
-moz-box-shadow: 0px 0px 10px 0px rgba(255,82,70,0.55);
box-shadow: 0px 0px 10px 0px rgba(255,82,70,0.55);
}

.card-item:hover span.btn, .card-item:focus span.btn {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  border: 2px solid #0adec0 !important;
  background: #0adec0 !important;
}
.card-item:hover figure .overlay, .card-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}
.card-item:hover figure .overlay i, .card-item:focus figure .overlay i {
  margin-top: -15px;
}
.card-item:hover h2, .card-item:hover span, .card-item:focus h2, .card-item:focus span {
  text-decoration: none !important;
}

.form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
.form-group .form-control {
  width: 100%;
}
.price-box {
  background: #fff;
  border: 2px solid #ECEEF0;
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.price-box.popular {
  border: 2px solid #ff5246;
}
.price-box.popular .popular-text {
  top: 0;
  left: 50%;
  margin-left: -54px;
  margin-top: -2em;
  position: absolute;
  padding: 4px 20px;
  background: #ff5246;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.price-box.popular .popular-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid black;
  border-top-color: #ff5246;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.pricing-plan {
  margin: 0 0 30px 0;
  padding: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.price {
  font-size: 50px;
  color: #000;
}
.price .currency {
  font-size: 20px;
  top: -1.2em;
}
.price small {
  font-size: 16px;
}

.pricing-info {
  padding: 0;
  margin: 0 0 30px 0;
}
.pricing-info li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
